# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Flask instance folder
instance/

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# Virtual environments
venv/
env/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/


